@mixin Text($c, $fs, $fw) {
  color: $c;
  font-size: $fs;
  font-weight: $fw;
}
@mixin Button($bg, $border, $radius, $padding, $width, $ml) {
  background-color: $bg;
  border: $border;
  border-radius: $radius;
  padding: $padding;
  width: $width;
  margin-left: $ml;
}
